body {
  padding: 0;
  margin: 0;
  background-color: black;
}

.container-fluid {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bedroom {
  position: relative;
}

.floor {
  border: 1px solid white;
  width: 198px;
  height: 198px;
  transform: rotate(45deg);
  position: relative;
  z-index: 2;
}

.desk {
  background-color: black;
  height: 50%;
  width: 20%;
  border: 1px solid white;
  position: absolute;
  left: -10%;
  bottom: 40%;
  z-index: 3;
}

.left-desk {
  background-color: black;
  position: absolute;
  height: 3%;
  width: 21%;
  border-width: 0 1px 1px 1px;
  border-style: solid;
  border-color: white;
  transform: skewX(45deg);
  bottom: 37%;
  left: -8.6%;
  z-index: 3;
}

.front-desk {
  background-color: black;
  position: absolute;
  height: 50%;
  width: 3%;
  border-width: 1px 1px 0 0;
  border-style: solid;
  border-color: white;
  bottom: 38.5%;
  left: 10%;
  transform: skewY(45deg);
  z-index: 3;
}

.desk-leg-1 {
  background-color: black;
  position: absolute;
  height: 2.5%;
  width: 8%;
  border-width: 1px 1px 1px 0;
  border-style: solid;
  border-color: white;
  transform: skewY(45deg);
  bottom: 80.5%;
  left: 13%;
}

.back-desk-leg-1 {
  position: absolute;
  width: 2%;
  height: 7%;
  border-width: 0 0 1px 1px;
  border-style: solid;
  border-color: white;
  transform: skewX(45deg);
  z-index: 2;
  bottom: 76.5%;
  left: 15%;
}

.desk-leg-2 {
  background-color: black;
  position: absolute;
  height: 2.5%;
  width: 8%;
  border-width: 1px 1px 1px 0;
  border-style: solid;
  border-color: white;
  transform: skewY(45deg);
  bottom: 36%;
  left: 10%;
}

.back-desk-leg-2 {
  position: absolute;
  width: 2%;
  height: 7%;
  border-width: 0 0 1px 1px;
  border-style: solid;
  border-color: white;
  transform: skewX(45deg);
  z-index: 2;
  bottom: 32%;
  left: 12%;
}

.desk-leg-3 {
  background-color: black;
  position: absolute;
  height: 2.5%;
  width: 8%;
  border-width: 1px 1px 1px 0;
  border-style: solid;
  border-color: white;
  transform: skewY(45deg);
  bottom: 33.4%;
  left: -5.5%;
}

.back-desk-leg-3 {
  background-color: black;
  position: absolute;
  width: 2%;
  height: 7%;
  border-width: 0 0 1px 1px;
  border-style: solid;
  border-color: white;
  transform: skewX(45deg);
  z-index: 3;
  bottom: 29.6%;
  left: -3.8%;
}

.bed {
  background-color: black;
  width: 25%;
  height: 60%;
  border-width: 1px 1px 1px 1px;
  border-style: solid;
  border-color: white;
  position: absolute;
  right: 8%;
  top: -8%;
  z-index: 4;
  border-radius: 3px;
}

.bed-right {
  background-color: black;
  position: absolute;
  height: 60%;
  width: 5%;
  border-width: 1px 1px 1px 0;
  border-style: solid;
  border-color: white;
  transform: skewY(45deg);
  right: 4%;
  top: -6.39%;
  z-index: 3;
  border-radius: 3px;
}

.front-bed {
  background-color: black;
  position: absolute;
  width: 25%;
  height: 5%;
  border-width: 0 0 1px 1px;
  border-style: solid;
  border-color: white;
  transform: skewX(45deg);
  top: 51.2%;
  right: 5.9%;
  border-radius: 3px;
  z-index: 3;
}

.bed-leg-1 {
  position: absolute;
  background-color: black;
  width: 4%;
  height: 3%;
  border: 1px solid white;
  transform: skewY(45deg);
  border-radius: 45%;
  z-index: 2;
  right: 1%;
  top: -2%;
}

.bed-leg-2 {
  position: absolute;
  background-color: black;
  width: 4%;
  height: 3%;
  border: 1px solid white;
  transform: skewY(45deg);
  border-radius: 45%;
  z-index: 2;
  right: 1.5%;
  top: 54%;
}

.bed-leg-3 {
  position: absolute;
  background-color: black;
  width: 4%;
  height: 3%;
  border: 1px solid white;
  transform: skewY(45deg);
  border-radius: 45%;
  z-index: 2;
  right: 24%;
  top: 55%;
}

.pillow {
  position: absolute;
  background-color: black;
  height: 8%;
  width: 16%;
  border: 1px solid white;
  right: 13%;
  top: -4%;
  z-index: 5;
  border-radius: 5px;
}

.bed-sheet-1 {
  width: 25%;
  position: absolute;
  border-width: 0 0 1px 0;
  border-style: solid;
  border-color: white;
  right: 8%;
  z-index: 4;
}

.bed-sheet-2 {
  width: 25%;
  position: absolute;
  border-width: 0 0 1px 0;
  border-style: solid;
  border-color: white;
  right: 8%;
  top: 5%;
  z-index: 4;
}

.right-bed-sheet-1 {
  position: absolute;
  border-width: 0 0 1px 0;
  border-style: solid;
  border-color: white;
  width: 4.5%;
  transform: skewY(45deg);
  right: 4%;
  z-index: 4;
  top: 1.8%;
}

.right-bed-sheet-2 {
  position: absolute;
  border-width: 0 0 1px 0;
  border-style: solid;
  border-color: white;
  width: 4.5%;
  transform: skewY(45deg);
  right: 4%;
  z-index: 4;
  top: 7.2%;
}

.left-wall {
  border-width: 1px;
  border-style: solid;
  border-color: white transparent transparent white;
  height: 139px;
  width: 139px;
  transform: skewY(-45deg);
  position: absolute;
  left: -20.47%;
  top: -55%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.bookend {
  border: 1px solid white;
  width: 15%;
  height: 3%;
}

.right-wall {
  border-width: 1px;
  border-style: solid;
  border-color: white white transparent transparent;
  height: 140px;
  width: 140px;
  transform: skewY(45deg);
  position: absolute;
  right: -20.46%;
  top: -55%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.window-frame {
  border: 1px solid white;
  height: 5%;
  width: 60%;
}

.window-glass {
  border-width: 0 1px 1px 1px;
  border-style: solid;
  border-color: white;
  height: 40%;
  width: 50%;
}